.containerCarousel h2 {
  color: white;
  position: relative;
  z-index: 3;
  padding-left: 70px;
}

.slider {
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  position: relative;
  z-index: 6;
  /* bottom: -5%; */
  width: 100%;
  height: 25%;
  /* background-color: thistle; */
  margin-bottom: 50px;
}

.movieItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.movieItem:hover {
  outline: 3px white solid;
}

.movieItem:hover .containerDetail {
  left: 0;
}

.containerDetail {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: flex-end;
  /* align-items: center; */
  flex-direction: column;
  transition: 1s all;
  pointer-events: none;
}

.movieItem h3 {
  font-size: 30px;
}

.cover {
  /* position: relative; */
  width: 100%;
  /* border-radius: 0% 10% 10% 0%; */
}
